doctype html
//[if IE 9]><html class="lt-ie10" lang="en" ><![endif]
html(class="no-js" lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width", initial-scale="1.0")
        title {{scTitle}} | ScorpioCoding.net
        link( rel="stylesheet" href="../../../html/css/app.css")
        link( rel="stylesheet" href="../../../html/css/sc.css")

    body
        // 
            Foundation 6.2.3
            Gridsystem (rows and coloums) each row must have 12 coloums	

        nav
            a(href="../../../home/index")  Home
            a(href="../../../login/index")  Login

        {% block body %}
        {% endblock %}
        
        
        // 
            Foundation 6.2.3
            scripts must be included just before the </body> tag
            make sure foundation.js loads after jquery.js
        script(src="../../../html/js/jquery/jquery.js")
        script(src="../../../html/js/foundation/what-input.js")
        script(src="../../../html/js/foundation/foundation.js")
        script(src="../../../html/js/app.js")
