{% extends "base.html" %}

{% block scTitle %}{{scTitle}} | ScorpioCoding.net{% endblock %}

{% block body %}


p FRONTEND :: HOME


h1 Welcome
p Hello from a Twig template, {{ name }}!
br
br
p this is thet title :  {{ title }} <br />







{% endblock %}