
{% extends "base.html" %}
{% block scTitle %}{{scTitle}} | ScorpioCoding.net{% endblock %}
{% block body %}
<p>FRONTEND :: HOME</p>
<h1>Welcome</h1>
<p>Hello from a Twig template, {{ name }}!</p><br/><br/>
<p>this is thet title :  {{ title }} <br /></p>{% endblock %}